/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap");
/* Colors */
/* Core Elements */
html, body {
  background: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  color: #123456;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Typography */
h1 {
  font-size: 36px;
  color: #643472;
  font-weight: 700;
  line-height: 1.1;
}
h1 span {
  display: block;
}
h1 span span {
  display: inline;
  position: relative;
  animation: colorChange 1s infinite;
  animation-timing-function: linear;
}
h1 span span:nth-child(5n+1) {
  color: #9390F0;
  animation-delay: 0s;
}
h1 span span:nth-child(5n+2) {
  color: #C690F0;
  animation-delay: 0.2s;
}
h1 span span:nth-child(3) {
  color: #EA86E6;
  animation-delay: 0.4s;
}
h1 span span:nth-child(4) {
  color: #EA86BC;
  animation-delay: 0.6s;
}
h1 span span:nth-child(5) {
  color: #F58095;
  animation-delay: 0.8s;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  padding-top: 40px;
  background-color: transparent;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 110px 35px;
}
h2 span {
  display: inline;
  position: relative;
  animation: colorChange 1s infinite;
  animation-timing-function: linear;
}
h2 span:nth-child(1) {
  color: #9390F0;
  animation-delay: 0s;
}
h2 span:nth-child(2) {
  color: #C690F0;
  animation-delay: 0.2s;
}
h2 span:nth-child(3) {
  color: #EA86E6;
  animation-delay: 0.4s;
}
h2 span:nth-child(4) {
  color: #EA86BC;
  animation-delay: 0.6s;
}
h2 span:nth-child(5) {
  color: #F58095;
  animation-delay: 0.8s;
}

h3 {
  font-size: 20px;
  color: inherit;
  font-weight: 700;
  line-height: 1.4;
}
h3 span {
  display: block;
}

p {
  font-size: 18px;
}

.button {
  background-color: #A990F0;
  box-shadow: 4px 4px 0px #8B55E2;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 10px;
  transition: transform 0.1s ease-in-out;
}
.button:hover {
  transform: scale(1.05);
  transform-origin: 50% 50%;
}
.button:active {
  background-color: #ffffff;
  color: #4F3472;
  box-shadow: #321D4E;
}

@keyframes mailShake {
  0% {
    transform: rotate(0deg);
  }
  3% {
    transform: rotate(-35deg);
  }
  6% {
    transform: rotate(25deg);
  }
  9% {
    transform: rotate(-18deg);
  }
  12% {
    transform: rotate(12deg);
  }
  15% {
    transform: rotate(-5deg);
  }
  18% {
    transform: rotate(3deg);
  }
  21% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes phoneFloat {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes phoneShake {
  0% {
    transform: rotate(0deg);
    transform: scale(1.1);
  }
  10% {
    transform: rotate(-8deg);
    transform: translateX(-20px);
  }
  20% {
    transform: rotate(11deg);
    transform: translateX(18px);
  }
  30% {
    transform: rotate(-14deg);
  }
  45% {
    transform: rotate(12deg);
    transform: translateX(-25px);
    transform: scale(0.8);
  }
  60% {
    transform: rotate(-5deg);
  }
  70% {
    transform: rotate(3deg);
    transform: translateX(8px);
  }
  80% {
    transform: rotate(0deg);
    transform: scale(1);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes colorChange {
  0% {
    color: #9390F0;
    top: 0;
  }
  20% {
    color: #C690F0;
  }
  40% {
    color: #EA86E6;
    top: 10px;
  }
  60% {
    color: #EA86BC;
  }
  80% {
    color: #F58095;
  }
  100% {
    color: #9390F0;
    top: 0;
  }
}
@keyframes ubbleSquash {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.85);
  }
  100% {
    transform: scale(1, 1);
  }
}
.footer-card img {
  animation: mailShake 5s infinite;
  animation-timing-function: linear;
}

.illo-ubble, .illo-floraleft, .illo-floraright {
  transform-origin: 50% 100%;
  animation: ubbleSquash 5s infinite;
  animation-timing-function: ease-in-out;
}

/* Section Styles */
section {
  overflow: hidden;
  position: relative;
}
section .margins {
  width: 100%;
  padding: 0 20px;
}

section.hero2 {
  position: relative;
  background-color: linear-gradient(165deg, #FFD2BD 10%, #FFBDBC 90%);
  background-image: url(../img/hero-bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
section.hero2 .hero-content {
  position: relative;
}
section.hero2 .hero-content .margins {
  display: block;
}
section.hero2 .hero-content .margins .hero-text {
  text-align: center;
}
section.hero2 .hero-content .margins .hero-text .graphic-logo {
  margin-top: 20px;
  width: 100%;
}
section.hero2 .hero-content .margins .hero-text .main-text {
  text-align: center;
  width: 85%;
  margin: 0px auto 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #FFE6F0;
  text-shadow: 0px 2px 10px #5F409C;
}
section.hero2 .hero-content .margins .hero-text .button-lockup {
  margin: 20px auto 40px;
  display: flex;
  justify-content: center;
}
section.hero2 .hero-content .margins .hero-text .button-lockup .google-play img {
  width: 190px;
}
section.hero2 .hero-content .margins .hero-text .button-lockup .only-android p {
  display: none;
  margin-left: 20px;
  color: black;
  padding-left: 36px;
  background: transparent url(../img/android-icon.svg) left center no-repeat;
}
section.hero2 .hero-content .margins .hero-video {
  width: 100%;
  padding: 0 8%;
  position: relative;
}
section.hero2 .hero-content .margins .hero-video .hero-apps {
  position: absolute;
  top: -11%;
  left: 0%;
  width: 100%;
}
section.hero2 .hero-content .margins .hero-video .ui-overlay {
  position: relative;
  margin-bottom: -70px;
  top: -60px;
}
section.hero2 .hero-content .margins .hero-video .goat {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 35%;
}
section.hero2 .hero-content .margins .hero-video .hoof {
  position: absolute;
  bottom: -1px;
  right: -7%;
  width: 45%;
}
section.hero2 .hero-content .margins .hero-video .bubble {
  position: absolute;
  top: 12%;
  right: -3%;
  width: 120px;
}
section.hero2 .hero-content .margins .hero-video .video-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  background: transparent url(../img/hero-phonebg.svg) center top no-repeat;
  background-size: 100% auto;
  padding: 9% 4% 0 4%;
}
section.hero2 .hero-content .margins .hero-video .video-container video {
  border-radius: 20px 20px 0 0;
}

section.summary {
  overflow: visible;
}
section.summary div.vmargins {
  padding: 60px 0 90px;
}
section.summary div.vmargins p {
  padding: 0 40px;
}
section.summary h2 {
  background-image: url(../img/squiggle-summary.svg);
}
section.summary div.tableau {
  background: #4F3472 url(../img/summary-background.svg) -10px top no-repeat;
  background-size: auto 300px;
  padding-top: 190px;
}
section.summary div.tableau .margins {
  position: relative;
  padding: 0;
  background-color: #321D4E;
  text-align: left;
  overflow: visible;
}
section.summary div.tableau .margins p {
  color: #ffffff;
  padding: 50px;
  text-align: center;
}
section.summary div.tableau .margins .illo-apps {
  width: 135px;
  position: absolute;
  top: -220px;
  left: 10px;
}
section.summary div.tableau .margins .illo-phone {
  width: 229px;
  position: absolute;
  top: -260px;
  left: 50px;
  animation-name: phoneFloat;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
section.summary div.tableau .margins .illo-phone:hover {
  animation-name: phoneShake;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

section.features h2 {
  background-image: url(../img/squiggle-features.svg);
  margin-top: 60px;
  margin-bottom: 60px;
}
section.features ul.feature-list li {
  padding: 0 40px 60px 40px;
}
section.features ul.feature-list li:last-child {
  padding-bottom: 0;
}
section.features ul.feature-list li img {
  width: 260px;
  transition: transform 0.1s ease-in-out;
}
section.features ul.feature-list li img:hover {
  transform: scale(1.1);
  transform-origin: 50% 50%;
}

section.footer {
  padding: 60px 0 150px;
}
section.footer h2 {
  background-image: url(../img/squiggle-contact.svg);
  margin-bottom: 100px;
}
section.footer .footer-card {
  position: relative;
  width: 90%;
  background-color: #FFF0F0;
  border-radius: 16px;
  margin: 0 auto;
  padding: 0 40px 40px 40px;
  box-shadow: 0px 6px 0px #EFD1D1;
}
section.footer .footer-card img {
  position: relative;
  top: -40px;
  margin-bottom: -40px;
}
section.footer .footer-card .button {
  display: block;
  width: 100%;
}
section.footer .illo-bg {
  position: absolute;
  bottom: -35px;
  left: 50%;
  margin-left: -1000px;
}
section.footer .illo-flankleft {
  position: absolute;
  bottom: -20px;
  left: 0;
}
section.footer .illo-flankright {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}
section.footer .illo-ubble {
  position: absolute;
  bottom: -2px;
  left: 50%;
  margin-left: -95px;
  display: none;
}
section.footer .illo-floraleft {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -76px;
}
section.footer .illo-floraright {
  position: absolute;
  bottom: 0;
  right: 50px;
  display: none;
}

section.insignia {
  background-color: #30305D;
  padding: 40px;
}

@media screen and (min-width: 480px) {
  section.hero2 {
    padding-top: 20px;
  }
  section.hero2 .hero-content .margins .hero-text .graphic-logo {
    margin-top: 30px;
    width: 80%;
  }
  section.hero2 .hero-content .margins .hero-text .main-text {
    width: 70%;
    margin: 10px auto 40px;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
  }
  section.hero2 .hero-content .margins .hero-text .button-lockup {
    padding-bottom: 20px;
  }
  section.hero2 .hero-content .margins .hero-text .button-lockup .google-play img {
    width: 250px;
  }
  section.hero2 .hero-content .margins .hero-text .button-lockup .only-android p {
    display: block;
    line-height: 60px;
  }

  section.summary div.vmargins {
    padding: 80px 0 110px;
  }
  section.summary div.vmargins p {
    padding: 0 25%;
  }
  section.summary div.tableau {
    background-position: 60px top;
  }
  section.summary div.tableau .margins .illo-apps {
    left: 60px;
  }
  section.summary div.tableau .margins .illo-phone {
    left: 100px;
  }
}
@media screen and (min-width: 640px) {
  h1 {
    font-size: 48px;
  }

  section {
    width: 100%;
  }
  section .margins {
    margin: 0 auto;
  }

  section.summary div.vmargins p {
    padding: 0 30%;
  }
  section.summary div.tableau {
    background-size: auto;
    background-position: center top;
    padding-top: 280px;
  }
  section.summary div.tableau .margins {
    background-color: #321D4E;
  }
  section.summary div.tableau .margins .illo-apps {
    width: 176px;
    top: -320px;
    left: 100px;
  }
  section.summary div.tableau .margins .illo-phone {
    width: 318px;
    top: -360px;
    left: 170px;
  }
  section.summary div.tableau .margins p {
    padding: 90px 20%;
  }

  section.features ul.feature-list li {
    padding: 0 25%;
  }

  section.footer .footer-card {
    width: 490px;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 36px;
    background-size: 160px 50px;
    padding-top: 60px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }

  .bigger {
    font-size: 22px;
  }

  section .margins {
    width: 980px;
  }

  section.hero2 {
    padding-top: 100px;
  }
  section.hero2 .hero-content .margins {
    display: flex;
    width: 1200px;
  }
  section.hero2 .hero-content .margins .hero-text {
    text-align: left;
    padding-left: 60px;
  }
  section.hero2 .hero-content .margins .hero-text .graphic-logo {
    margin-left: -30px;
    width: 100%;
    margin-top: 0;
  }
  section.hero2 .hero-content .margins .hero-text .main-text {
    text-align: left;
    width: 85%;
    margin: 10px 0 40px;
    font-size: 24px;
    line-height: 32px;
  }
  section.hero2 .hero-content .margins .hero-text .button-lockup {
    margin-left: -15px;
    justify-content: flex-start;
  }
  section.hero2 .hero-content .margins .hero-text .button-lockup .google-play img {
    width: 190px;
  }
  section.hero2 .hero-content .margins .hero-text .button-lockup .only-android p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 70px;
  }
  section.hero2 .hero-content .margins .hero-video {
    padding: 0 4% 0 8%;
  }
  section.hero2 .hero-content .margins .hero-video .hero-apps {
    top: -11%;
    left: 3%;
  }
  section.hero2 .hero-content .margins .hero-video .goat {
    left: -10%;
    width: 45%;
  }
  section.hero2 .hero-content .margins .hero-video .hoof {
    right: -8%;
    width: 45%;
  }
  section.hero2 .hero-content .margins .hero-video .bubble {
    top: 8%;
    right: 2%;
    width: 140px;
  }
  section.hero2 .hero-content .margins .hero-video .video-container {
    width: 80%;
    margin: 0 auto;
    background: transparent url(../img/hero-phonebg.svg) center top no-repeat;
    background-size: 100% auto;
    padding: 9% 4% 0 4%;
  }
  section.hero2 .hero-content .margins .hero-video .video-container video {
    border-radius: 20px 20px 0 0;
  }

  section.summary div.vmargins {
    padding: 80px 0 110px;
  }
  section.summary div.vmargins p {
    width: 40%;
    padding: 0;
    margin: 0 auto;
  }
  section.summary div.tableau {
    background: #4F3472;
    padding-top: 0;
  }
  section.summary div.tableau .margins {
    width: 1024px;
    background: #4F3472 url(../img/summary-background.svg) -30px top no-repeat;
  }
  section.summary div.tableau .margins p {
    text-align: left;
    background-color: transparent;
    padding: 70px 0 70px 680px;
  }
  section.summary div.tableau .margins .illo-apps {
    position: absolute;
    left: 30px;
    top: -15px;
  }
  section.summary div.tableau .margins .illo-phone {
    width: 348px;
    position: absolute;
    left: 90px;
    top: -80px;
  }

  section.features h2 {
    margin: 110px 0 80px;
  }
  section.features ul.feature-list {
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  section.features ul.feature-list li {
    width: 28%;
    padding: 0;
  }
  section.features ul.feature-list li img {
    width: 100%;
  }

  section.footer .illo-flankright {
    display: block;
  }
  section.footer .illo-ubble {
    display: block;
  }
  section.footer .illo-floraleft {
    left: 50px;
    margin-left: 0;
  }
  section.footer .illo-floraright {
    display: block;
  }
}
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 72px;
  }

  .bigger {
    font-size: 24px;
  }

  section .margins {
    width: 1200px;
  }

  section.hero2 {
    padding-top: 120px;
  }
  section.hero2 .hero-content .margins .hero-text {
    padding-left: 0px;
  }
  section.hero2 .hero-content .margins .hero-text .graphic-logo {
    margin-left: -40px;
  }
  section.hero2 .hero-content .margins .hero-text .main-text {
    width: 80%;
    font-size: 26px;
    line-height: 36px;
  }

  section.summary div.tableau .margins {
    width: 1400px;
    background: #4F3472 url(../img/summary-background.svg) -10px top no-repeat;
  }
  section.summary div.tableau .margins p {
    background-color: transparent;
    padding: 90px 100px 90px 750px;
  }
  section.summary div.tableau .margins .illo-apps {
    left: 60px;
    top: -15px;
  }
  section.summary div.tableau .margins .illo-phone {
    left: 120px;
    top: -80px;
  }
}

/*# sourceMappingURL=style.css.map */
